In [1]:
import evalml

In [8]:
evalml.problem_types.problem_types.ProblemTypes.all_problem_types

[<ProblemTypes.BINARY: 'binary'>,
 <ProblemTypes.MULTICLASS: 'multiclass'>,
 <ProblemTypes.REGRESSION: 'regression'>,
 <ProblemTypes.TIME_SERIES_REGRESSION: 'time series regression'>,
 <ProblemTypes.TIME_SERIES_BINARY: 'time series binary'>,
 <ProblemTypes.TIME_SERIES_MULTICLASS: 'time series multiclass'>]

In [9]:
evalml.objectives.get_all_objective_names()

['expvariance',
 'maxerror',
 'medianae',
 'mse',
 'mae',
 'r2',
 'mean squared log error',
 'root mean squared log error',
 'root mean squared error',
 'mean absolute percentage error',
 'mcc multiclass',
 'log loss multiclass',
 'auc weighted',
 'auc macro',
 'auc micro',
 'recall weighted',
 'recall macro',
 'recall micro',
 'precision weighted',
 'precision macro',
 'precision micro',
 'f1 weighted',
 'f1 macro',
 'f1 micro',
 'balanced accuracy multiclass',
 'accuracy multiclass',
 'mcc binary',
 'log loss binary',
 'auc',
 'recall',
 'precision',
 'f1',
 'balanced accuracy binary',
 'accuracy binary',
 'sensitivity at low alert rates',
 'lead scoring',
 'fraud cost',
 'cost benefit matrix']

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv('ciplatrain.csv')

In [12]:
df

,Customer ID,Name,Gender,Age,Income (USD),Income Stability,Profession,Type of Employment,Location,Loan Amount Request (USD),...,Credit Score,No. of Defaults,Has Active Credit Card,Property ID,Property Age,Property Type,Property Location,Co-Applicant,Property Price,Loan Sanction Amount (USD)
0,C-36995,Frederica Shealy,F,56,1933.05,Low,Working,Sales staff,Semi-Urban,72809.58,...,809.44,0,NaN,746,1933.05,4,Rural,1,119933.46,54607.18
1,C-33999,America Calderone,M,32,4952.91,Low,Working,NaN,Semi-Urban,46837.47,...,780.40,0,Unpossessed,608,4952.91,2,Rural,1,54791.00,37469.98
2,C-3770,Rosetta Verne,F,65,988.19,High,Pensioner,NaN,Semi-Urban,45593.04,...,833.15,0,Unpossessed,546,988.19,2,Urban,0,72440.58,36474.43
3,C-26480,Zoe Chitty,F,65,NaN,High,Pensioner,NaN,Rural,80057.92,...,832.70,1,Unpossessed,890,NaN,2,Semi-Urban,1,121441.51,56040.54
4,C-23459,Afton Venema,F,31,2614.77,Low,Working,High skill tech staff,Semi-Urban,113858.89,...,745.55,1,Active,715,2614.77,4,Semi-Urban,1,208567.91,74008.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,C-43723,Angelyn Clevenger,M,38,4969.41,Low,Commercial associate,Managers,Urban,76657.90,...,869.61,0,Unpossessed,566,4969.41,4,Urban,1,111096.56,68992.11
29996,C-32511,Silas Slaugh,M,20,1606.88,Low,Working,Laborers,Semi-Urban,66595.14,...,729.41,0,Inactive,175,1606.88,3,Urban,1,73453.94,46616.60
29997,C-5192,Carmelo Lone,F,49,NaN,Low,Working,Sales staff,Urban,81410.08,...,NaN,0,Active,959,NaN,1,Rural,1,102108.02,61057.56
29998,C-12172,Carolann Osby,M,38,2417.71,Low,Working,Security staff,Semi-Urban,142524.10,...,677.27,1,Unpossessed,375,2417.71,4,Urban,1,168194.47,99766.87
29999,C-33003,Bridget Garibaldi,F,63,3068.24,High,Pensioner,NaN,Rural,156290.54,...,815.44,0,Active,344,3068.24,3,Rural,1,194512.60,117217.90

In [13]:
X=df.drop(['Customer ID','Name','Loan Sanction Amount (USD)'],axis=1)
y=df['Loan Sanction Amount (USD)']

In [14]:
df.columns

Index(['Customer ID', 'Name', 'Gender', 'Age', 'Income (USD)',
       'Income Stability', 'Profession', 'Type of Employment', 'Location',
       'Loan Amount Request (USD)', 'Current Loan Expenses (USD)',
       'Expense Type 1', 'Expense Type 2', 'Dependents', 'Credit Score',
       'No. of Defaults', 'Has Active Credit Card', 'Property ID',
       'Property Age', 'Property Type', 'Property Location', 'Co-Applicant',
       'Property Price', 'Loan Sanction Amount (USD)'],
      dtype='object')

In [15]:
X_train,X_test,y_train,y_test=evalml.preprocessing.split_data(X,y,problem_type='regression')
X_train.head()

,Gender,Age,Income (USD),Income Stability,Profession,Type of Employment,Location,Loan Amount Request (USD),Current Loan Expenses (USD),Expense Type 1,...,Dependents,Credit Score,No. of Defaults,Has Active Credit Card,Property ID,Property Age,Property Type,Property Location,Co-Applicant,Property Price
3225,F,18,2393.81,Low,Working,Drivers,Semi-Urban,26487.81,121.29,N,...,2.0,670.60,0,Inactive,173,2393.81,1,Urban,1,29926.57
11815,M,47,1329.35,Low,State servant,Sales staff,Rural,36463.97,184.77,N,...,NaN,671.37,0,Unpossessed,533,1329.35,1,Rural,1,52964.91
7338,F,43,NaN,Low,Working,Core staff,Urban,37443.20,379.63,N,...,2.0,851.08,0,Unpossessed,335,NaN,2,Urban,1,50192.50
14980,F,18,NaN,Low,Working,Core staff,Semi-Urban,121337.39,360.54,N,...,4.0,738.86,0,Inactive,300,NaN,4,Urban,1,164321.65
27167,M,57,5032.25,Low,Commercial associate,Managers,Urban,129002.52,597.96,N,...,3.0,788.56,0,Active,583,5032.25,1,Urban,1,209374.15

In [18]:
automl.rankings

,id,pipeline_name,mean_cv_score,standard_deviation_cv_score,validation_score,percent_better_than_baseline,high_variance_cv,parameters
0,0,Mean Baseline Regression Pipeline,NaN,NaN,NaN,NaN,False,{'Baseline Regressor': {'strategy': 'mean'}}
1,1,Linear Regressor w/ Imputer + Text Featurizati...,NaN,NaN,NaN,NaN,False,{'Imputer': {'categorical_impute_strategy': 'm...
2,2,Decision Tree Regressor w/ Imputer + Text Feat...,NaN,NaN,NaN,NaN,False,{'Imputer': {'categorical_impute_strategy': 'm...
3,3,Random Forest Regressor w/ Imputer + Text Feat...,NaN,NaN,NaN,NaN,False,{'Imputer': {'categorical_impute_strategy': 'm...
4,4,LightGBM Regressor w/ Imputer + Text Featuriza...,NaN,NaN,NaN,NaN,False,{'Imputer': {'categorical_impute_strategy': 'm...
5,5,Elastic Net Regressor w/ Imputer + Text Featur...,NaN,NaN,NaN,NaN,False,{'Imputer': {'categorical_impute_strategy': 'm...
6,6,XGBoost Regressor w/ Imputer + Text Featurizat...,NaN,NaN,NaN,NaN,False,{'Imputer': {'categorical_impute_strategy': 'm...
7,7,Extra Trees Regressor w/ Imputer + Text Featur...,NaN,NaN,NaN,NaN,False,{'Imputer': {'categorical_impute_strategy': 'm...
8,8,CatBoost Regressor w/ Imputer + Text Featuriza...,NaN,NaN,NaN,NaN,False,{'Imputer': {'categorical_impute_strategy': 'm...

In [4]:
from evalml.pipelines import PipelineBase, get_pipelines

automl.best_pipeline

ImportError: cannot import name 'get_pipelines' from 'evalml.pipelines' (C:\Users\Govind kuamr\Anaconda3\lib\site-packages\evalml\pipelines\__init__.py)

In [5]:
automl.describe_pipeline(automl.rankings.iloc[6]["id"])

NameError: name 'automl' is not defined